{% extends 'base.html' %}
{% from "macros/slideshow.html" import slidesShow with context %}
{% block content %}
<div class="h-full  relative overflow-x-auto shadow-md sm:rounded-lg p-4">
    <form action="{{ url_for('plant_variety.edit', uuid=plant_variety.uuid) }}" method="POST"
        enctype="multipart/form-data">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            {{ form.hidden_tag() }}
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Name</label>
                {{ form.name(class_="w-full rounded-lg") }}
            </div>
            <span></span>
            <div>
                <label for="features" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Features</label>
                {{ form.features(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="general_info" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    General info</label>
                {{ form.general_info(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="temperature_info" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Temperature info</label>
                {{ form.temperature_info(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="watering_info" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Watering info</label>
                {{ form.watering_info(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="min_temperature" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Planting min temperature</label>
                {{ form.min_temperature(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="max_temperature" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Planting max temperature</label>
                {{ form.max_temperature(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="min_size" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Min size</label>
                {{ form.min_size(class_="w-full rounded-lg")}}
            </div>
            <div>
                <label for="max_size" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Max size</label>
                {{ form.max_size(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="humidity_percentage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Humidity percentage</label>
                {{ form.humidity_percentage(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="water_volume" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Water volume</label>
                {{ form.water_volume(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="care_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Care type</label>
                {{ form.care_type(class_="w-full rounded-lg") }}
            </div>
            <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                    {{ form.is_moisture_loving }}
                </div>
                <label for="is_moisture_loving" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is
                    moisture loving</label>
            </div>
            <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                    {{ form.can_plant_indoors }}
                </div>
                <label for="can_plant_indoors" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Can
                    plant indoors</label>
            </div>
            <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                    {{ form.is_sun_loving }}
                </div>
                <label for="is_sun_loving" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">is sun
                    loving</label>
            </div>
            <div>
                <label for="ground_ph" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Ground ph</label>
                {{ form.ground_ph(class_="w-full rounded-lg") }}
            </div>
            <div>
                <label for="ground_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Ground type</label>
                {{ form.ground_type(class_="w-full rounded-lg") }}
            </div>

            <div class="col-span-6 sm:col-span-2">
                <label for="activated" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add
                    photos</label>
                {{ form.photos }}
            </div>
        </div>
        {% if plant_variety.photos %}
        {{ slidesShow(plant_variety.photos) }}
        {% endif %}
        <div class="w-full flex justify-around">
            <div class="h-60 overflow-y-auto">
                <label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pests</label>
                <div>{{ form.pests }}</div>
            </div>
            <div class="h-60 overflow-y-auto">
                <label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Illnesses</label>
                <div>
                    {{ form.illnesses }}
                </div>
            </div>
        </div>


        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
</div>

{% endblock %}