{% extends 'base.html' %}
{% from "macros/slideshow.html" import slidesShow with context %}
{% block content %}

<div class="h-full  relative sm:rounded-lg p-4">
  <form action="{{ url_for('illness.edit', uuid=illness.uuid) }}" method="POST" enctype="multipart/form-data"
    class="w-[1/2] relative bg-white rounded-lg shadow dark:bg-gray-700">
    <!-- Modal header -->
    {{ form.hidden_tag() }}
    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Edit illness </h3>
    </div>
    <div class="p-6 space-y-6">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-3">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
          {{ form.name(class_="rounded-lg") }}
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="reason" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reason</label>
          {{ form.reason(class_="rounded-lg w-full") }}
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="symptoms" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Symptoms</label>
          {{ form.symptoms(class_="rounded-lg w-full") }}

        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="treatment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Treatment</label>
          {{ form.treatment(class_="rounded-lg w-full") }}
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="activated" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add photos</label>
          {{ form.photos }}
        </div>

      </div>
    </div>
    {% if illness.photos %}
    {{ slidesShow(illness.photos) }}
    {% endif %}
    <!-- Modal footer -->
    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
      <button name="submit" type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Save </button>
    </div>
  </form>

</div>
{% endblock %}