{% extends 'base.html' %}
{% block content %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-4">
    <form action="{{ url_for('plant_variety.add_program', uuid=uuid) }}" method="POST"
        class="w-full relative bg-white dark:bg-gray-700 p-4">
        {{ form.hidden_tag() }}
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Add</h3>
        </div>
        <div class="flex flex-row">
            <div class="flex w-full gap-4">
                <div class="w-1/2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Planting time</label>
                    {{ form.planting_time(class_="rounded-lg") }}
                </div>
            </div>

            <div class="flex w-full gap-4">
                <div class="w-1/2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Harvest time</label>
                    {{ form.harvest_time(class_="rounded-lg") }}
                </div>
            </div>
        </div>
        <div id="program-steps" class="w-full flex flex-col gap-4 pt-4">
        </div>
        <div class="w-full flex justify-end p-4">
            <button type="button" hx-get="{{ url_for('planting_program.add_step') }}" hx-trigger="click"
                hx-target="#program-steps" hx-swap="beforeend"
                class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Add step
            </button>
        </div>

        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button name="submit" type="submit" id="submit-program-form-btn"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Save </button>
        </div>
        <script src="{{ url_for('static', filename='js/plant_program.js') }}" type="text/javascript" defer></script>
</div>
{% endblock %}