<!-- Adding pest modal -->
<!-- prettier-ignore-->
<div id="add-pest-modal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <form action="{{url_for('pest.create')}}" method="post" enctype="multipart/form-data"
      class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      {{ add_form.hidden_tag() }}
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Add new pest </h3>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            {{ add_form.name(class_="rounded-lg") }}
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="symptoms" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Symptoms</label>
            {{ add_form.symptoms(class_="rounded-lg w-full") }}
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Treatment</label>
            {{ add_form.treatment(class_="rounded-lg w-full") }}
          </div>
          <div class="col-span-6 sm:col-span-3 flex flex-col justify-center item-center">
            <input type='file' name='photos' multiple>
          </div>
        </div>
        <div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button name="submit" type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Save new pest </button>
      </div>
    </form>
  </div>
</div>