{% extends 'base.html' %}
{% from "macros/slideshow.html" import slidesShow with context %}
{% block content %}

<div class="h-full  relative sm:rounded-lg p-4">
  <form action="{{ url_for('pest.edit', uuid=pest.uuid) }}" method="post" enctype="multipart/form-data"
    class="relative bg-white rounded-lg dark:bg-gray-700">
    <!-- Modal header -->
    {{ form.hidden_tag() }}
    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Edit pest </h3>
    </div>
    <!-- Modal body -->
    <div class="p-6 space-y-6">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-3">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
          <input type="text" name="name"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Name" required value="{{ form.name.data }}" />
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Symptoms</label>
          <textarea name="symptoms"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            minlength="3" maxlength="1024" placeholder="Enter symptoms">{{ form.symptoms.data }}</textarea>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="activated" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Treatment</label>
          <textarea name="treatment"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            minlength="3" maxlength="1024" placeholder="Enter treatment">{{ form.treatment.data }}</textarea>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="activated" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add photos</label>
          {{ form.photos }}
        </div>
      </div>
    </div>
    {% if pest.photos %}
    {{ slidesShow(pest.photos) }}
    {% endif %}
    <!-- Modal footer -->
    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
      <button name="submit" type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Update </button>
    </div>
  </form>

</div>